{{ with .Site.Author.links }}
  <div class="flex flex-wrap text-neutral-400 dark:text-neutral-500" style="justify-content: center;row-gap: 10px;">
    {{ range $links := . }}
      {{ range $name, $url := $links }}
        <a
          class="px-1 hover:text-primary-700 dark:hover:text-primary-400"
          href="{{ $url }}"
          target="_blank"
          aria-label="{{ $name | title }}"
          rel="me noopener noreferrer"
          ><span class="inline-block align-text-bottom">{{ partial "icon.html" $name }}</span></a
        >
      {{ end }}
    {{ end }}
  </div>
{{ end }}
